.main {
    -fx-background-color: #ff00ff;
    -fx-padding: 22px;
    -fx-spacing: 15px;
}

.fullButton {
    -fx-background-color: linear-gradient(to bottom, #fff000, #999000);
}

.fullButton:focused:hover {
    -fx-background-color: linear-gradient(to right, #ff00ff, #aa44aa);
}

.fullButton:hover {
    -fx-background-color: linear-gradient(to bottom, #999333, #fff999);
}